*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
}
#menu-logo{
    vertical-align: middle;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: black;
}

.not-blu{
    text-decoration:underline;
    color: blue;
}

header nav ul li:not(#menu-logo):hover{
    border-bottom: 1px solid black;
}

.btn{
    padding: 7px;
}

.btn-blu{
    background-color: blue;
    color: white;
}

#jumbo{
    background-color: #B7D0E8;
}

.color-gray{
    color: lightslategray;
}
.container-80{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 72px;
}
.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.w-30{
    flex-basis: 30%;
}

.w-70{
    flex-basis: 70%;
}

#jumbo div.w-70 img{
    width: 100%;
}
p,
p .btn{
    margin: 20px 0;
}

p{
    font-size: 20px;
    line-height: 140%;
}

.p-30{
    padding: 30px 0;
}

.fa-arrow-down{
    margin-top: 20px;
}

.relative{
    position: relative;
}

.bottom-neg-100{
    bottom: -100px;
}

.container-70{
    width: 70%;
    margin: 0 auto;
}
#trova-il-tuo-piano{
    margin-top: 150px;
}

.space-between{
    justify-content: space-between;
}

.col-30{
    flex-basis: 30%;
    border: 1px solid black;
}

.card-body,
.card-top{
    padding: 8px;
}

.card-top{
    border-bottom: 1px solid black;
    text-align: center;
}

.card-body ul li{
    list-style: none;
    padding: 1em;
    margin: 10px 0;

    display: flex;

}

.card-body ul li i{
    margin-right: 5px;

}

.flex-center{
    justify-content: center;
}



input [type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
}

input [type="radio"] {
    appearance: none;
    background-color: rgb(253, 253, 253);
    font: inherit;
    color: rgb(171, 171, 171);
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid Urgb (194, 194, 194);
    border-radius: 50%;
    transform: translateY(0.35em);
}

input:checked{
    background-color: #ffffff;
    border: 0.35em solid rgb(79, 91, 255);
}

h2{
    padding-bottom: 10px;
    font-size: 40px;
}

.p-l-100{
    padding-left: 100px;
}

.b-bottom{
    border-bottom: lightgray;
}

.fa-check{
    color: blue;
}

.border{
    border: 1px solid black;
}

#team{
    margin: 3px 0;
}

.btn-full{
    background-color: #2665FE;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
}

img{
    width: 100%;
}

.btn-white{
    border: 1px solid black;
}

.w-one-third{
    flex-basis: 20%;
}

.w-two-third{
    flex-basis: 70%;
}

.wrap{
    flex-wrap: wrap;
}

.col-4{
    flex-basis: calc(100% / 3 - 2%);
    margin-bottom: 20px;

}.square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.square-child{
    width: 50%;
    height: 50%;
    position: relative;
}

.square-child img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
/* .square-child img{
    fill: #fff;
} */

.b-verde{
    background-color: #A2D39B;
}

.b-bordo{
    background-color: #61082B;
}

.b-azzurro{
    background-color: #0D93CE;
}

.b-lightred{
    background-color: #FE1C1C;
}

.b-red{
    background-color: #D5001F;
}

.b-celeste{
    background-color: #B4D0E7;
}

.b-blu{
    background-color: #0D2481;
}

.b-giallo{
    background-color: #FED82F;
    color: #000;
}

.width-70{
    width: 70%;
}

.size-50{
    font-size: 50px;
}

.p-40{
    padding: 40px;
}
.p-t-30{
    padding-top: 30px;
}

.size-15{
    font-size: 15px;
}

.width-40{
    width: 40%;
}

.b-gray{
    background-color: #F5F5F5;
}

.c-gray{
    color: #424242;
}

 .w-100{
    width: 100%;
 }

 .h-150{
    height: 150px;
 }

 .b-celeste-chiaro{
    background-color: #B3D0E7;
 }
 .b-white{
    background-color: white;
 }

 .space-arround{
    align-content: space-around;
 }

 .flex-end{
    justify-content: flex-end;
 }

 .domanda{
    border-bottom: 1px solid black;
 }

 .risposta{
    display: none;
    height: 0%;
 }

.genitore:hover .risposta{
    display: block;
    height: 100%;
    transition: all 1s ease;
 }
 

.genitore:hover .domanda i{
    transform: rotate(180deg);
    transition: all 1s ease;
 }

